
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="title"><%= @website.name %></h3>
            <p class="category"><%= @website.domain_name %></p>
            <%= link_to 'Edit', edit_website_path(@website) %> |
            <%= link_to 'Delete', @website, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="col-xs-6">
            <p class="category">Hosting Provider</p>
            <%= @website.hosting_provider %>
          </div>
        </div>
        <hr>
      </div>
      <div class="content">
        <% if @website.campaign.nil? %>
          <p>
            To start advertising this website, please
            <%= button_to "Start a campaign for this Website", {
                           controller: "campaigns", action: "create",
                           campaign: { name: "#{@website.name} campaign", website_id: @website.id },
                           method: :post }, class: "btn btn-success" %>
          </p>
          <hr>
        <% end %>

        To start your campaign, a few things are required:
        <br><br>
        <div class="table">
          <table class="table">
            <tbody>
              <% if @website.tag_placed? %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Website Tag Activated</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                  <td><%= link_to "Place your Website Tag on your site",  anchor: "website-tag" %></td>
                </tr>
              <% end %>

              <% if @website.campaign.active? %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Ad Click Url Verified</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                  <td><%= link_to "Verify your Ad Click URL", anchor: "clickthrough-url" %></td>
                </tr>
              <% end %>

              <% if @website.campaign.creatives.any? %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Ads Uploaded</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"> <i class="fa fa-square-o"></i></label></td>
                  <td><%= link_to "Upload Ads", anchor: "upload-ads" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <% if @website.ready_to_launch? %>
            <% if current_advertiser.subscription && current_advertiser.subscription.active? %>
              Your campaign is ready to begin. Nothing more for you to do. (We will update you about performance)
            <% else %>
              Your campaign can start as soon as you
              <%= link_to "Activate your Subscription", new_subscription_path %>.
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="content">
        <div id="website-tag">
          <b>1) Website Tag</b>
          <br><br>
          <p class="">Place this tag on every page of your website</p>
          <div class="input-group">
            <%= text_field_tag "Website Tag", @website.website_tag,
                               class: "form-control", type:'text' %>
            <span class="input-group-btn">
            <button class="btn btn-primary copy-button" type="button"
                    data-clipboard-target="#Website_Tag">
              <i class="fa fa-clipboard"></i>Copy
            </button>
          </span>
          </div>
          <div>
            <br>
            <p>Have you placed your tag on your website? Visit the following test link to check:
              <br>
            <hr>
              <%= link_to (@website.homepage + "?adsboomerangtest=verify"), (url_for(@website.homepage) + "?adsboomerangtest=verify"),
                          target: "_blank", class: "btn btn-primary" %>
            </p>
            <p class="category">
              (Don't worry, the Ads Boomerang alert is not visible to regular visitors)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="content">
        <div id="clickthrough-url">
          <b>2) Ad Click URL</b>
          <br><br>
          <% if @website.campaign %>
            <div class="row">
              <div class="col-sm-8">
                When clicked, your ads will take people to:
                <%= link_to @website.campaign.clickthrough_url, @website.campaign.clickthrough_url, class: "btn
                btn-default" %>
              </div>
              <div class="col-sm-2 col-xs-4">
                <% if !@website.campaign.active? %>
                  <div style="float: right;">
                    <%= button_to "Verify", campaign_path(@website.campaign, {campaign:{active: true}}),
                                method: :patch, class: "btn btn-success" %>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-2 col-xs-4">
                <%= link_to "Change", edit_campaign_path(@website.campaign),
                            class: "btn btn-primary" %>
              </div>
            </div>

            <br>
          <% else %>
            <p>Create a campaign to set your Ad Click URL</p>
          <% end %>
          <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="content">
        <div id="upload-ads">
          <b>3) Upload Ads</b>
          <br><br>
          <p class="">Drag and Drop ad sizes into the box below to upload your ads. Supported sizes are:</p>
          <ul>
            <div class="row">
              <div class="col-xs-4">
                <li>160x600 px</li>
                <li>728x90 px</li>
              </div>
              <div class="col-xs-4">
                <li>300x250 px</li>
                <li>300x600 px</li>
              </div>
            </div>
          </ul>
          <p class="category">
            Uploading all of the different sizes will maximize your ability to show your ad.
          </p>
          <a href="#" data-toggle="modal" data-target="#adSizeModal">Show Size Guide</a>

          <br><br>
          <div class="row">
            <div class="col-xs-9">
              <p>If you don't have any ads, we can create some for you. Simply send us an email with the brand assets you'd like us to use, as well as a tagline or slogan.</p>
            </div>
            <div class="col-xs-3">
              <a href="mailto:hello@adsboomerang.com?subject=new ads" class="btn btn-primary">
                Request Ads
              </a>
            </div>
          </div>

          <% if @website.campaign %>
            <%= render "creatives/list", campaign: @website.campaign %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="content">
        <div id="complete">
          <h4>Website Setup Complete?</h4>
          <p>
            Once you've completed the steps above,
            <%= link_to "return to the dashboard", authenticated_advertiser_path %>
            to verify the last steps to start advertising your website or store
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  new Clipboard(".copy-button");
</script>
