<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h4>Setting up your first Website Campaign</h4>
    </div>
  </div>
  <hr>
  <div class="row row-margin-bottom">
    <div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            1) Sign up for a Free Account
          </h4>
          <hr>
          <p class="larger-font">
            Sign up for a free Ads Boomerang account using your email address. You should receive a welcome email shortly after
            signing up. Click the link in that email to confirm your account.
          </p>
          <p><i>If you don't receive an email after a few hours, check your spam folder. If you still can't find it,
            click the "Resend Confirmation Email" link in your dashboard.
          </i></p>
          <p class="larger-font">
            While waiting for your welcome email, the site should direct you to your dashboard, where you will see an
            intro checklist. The first task listed is to confirm your email address.
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/email-confirmation.png", class: "img-responsive" %>
          <br>
          <%= image_tag "guides/basic/dashboard-home.png", class: "img-responsive" %>
        </div>
      </div>

      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            2) Add your first Website
          </h4>
          <hr>
          <p class="larger-font">
            While waiting for your welcome email, you should add your first website. Click the "Add
            your first website" link, or the "NEW WEBSITE" button on the sidebar.
          </p>
          <p class="larger-font">
            Enter your website's details. All that is required is a convenient name, and your website's full URL.
          </p>
          <p><i>
            Make sure to add your website's complete URL. The easiest way is to simply visit your site and copy the
            URL directly from your web browser.
          </i></p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/new-website.png", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4 id="website-configure">
            3) Configure your Website
          </h4>
          <hr>
          <p class="larger-font">
            Once you've saved your site, there are a few steps before you can launch a campaign. The first thing to
            be done is placing your Ads Boomerang Tag on your site.
          </p>
          <p class="larger-font">
            Placing your tag is the same as placing tags or pixels for other analytics services (for example, Google
            Analytics).
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/website-show.jpg", class: "img-responsive" %>
        </div>

        <div class="col-xs-12">
          <hr>
          <div class="col-xs-6">
            <p class="larger-font">
              View the <%= link_to "Basic Guide", guides_tagging_path, class: "btn btn-primary" %> for general
              instructions on installing your tag.
            </p>
          </div>
          <div class="col-xs-6">
            <p class="larger-font">
              View the <%= link_to "Shopify Guide", guides_shopify_path, class: "btn btn-primary" %> for instructions on installing the tag into your Shopify store.
            </p>
          </div>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            4) Verify your Ad Click URL
          </h4>
          <hr>
          <p class="larger-font">
            Before you can start your campaign, you need to verify where you want people who click your ads to go.
          </p>
          <p class="larger-font">
            By default, your ads should be set to take people to your homepage. If that looks OK, click "Verify". If
            you'd like to choose a custom landing-page, click "Change".
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/verify-clickthrough.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            5) Upload Ads
          </h4>
          <hr>
          <p class="larger-font">
            The last step before starting your Website campaign is uploading some ads. If you have ads, drop them into the upload box. Ads should be in an image format (Jpeg, Gif, or PNG). Consult the Size Guide to see the accepted sizes.
          </p>
          <p class="larger-font">
            If you don't have any ads, click the Request Ads button to send us an email, and we will create some
            for you. Please include any brand assets you'd like us to use, or other instructions.</p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/upload-ads.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            6) Setup is Complete
          </h4>
          <hr>
          <p class="larger-font">
            Once all the above steps are complete, your website campaign is ready. If you haven't done so yet, activate
            your subscription, and your campaign can begin bringing people back to your site.
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/website-checklist-complete.jpg", class: "img-responsive" %>
        </div>
      </div>

      <br><br>

    </div>
  </div>
</div>

<style>
  body {
    background: #efefef;
  }
  .light-card {
    background: #fff;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);

  }
  .larger-font {
    font-size: larger;
  }
</style>