<br><br><br><br><br>

<div class="container">
  <div class="row">
    <h4>If you have a Shopify store, Ads Boomerang is the easiest way to bring visitors back to your site and
      increase your conversion rate</h4>
  </div>
  <hr>
  <div class="row row-margin-bottom">
    <div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            1) Retrieve your Website Tag
          </h4>
          <hr>
          <p class="larger-font">
            The first step is to log into your Ads Boomerang dashboard and retrieve your <b>Website Tag</b>. Copy it
            from the text field by clicking the "Copy" button.
          </p>
          <p class="larger-font">
            If you don't have a website set up, do that now. Click the <b>NEW WEBSITE</b> link in the sidebar
            to create one.
          </p>
          <p><i>
            Check the Ads Boomerang <%= link_to "basic guide", guides_setup_path %> if you need more
            information on setting up your first website.
          </i></p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/basic/website-show-tag.jpg", class: "img-responsive" %>
        </div>
      </div>

      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            2) Open your Shopify Theme
          </h4>
          <hr>
          <p class="larger-font">
            Next, open your Shopify dashboard, and navigate to the <b>Online Store / Themes</b> page.
          </p>
          <p class="larger-font" style="display: inline;">
            Press the <b><pre style="display: inline;color: #0976b4">• • •</pre></b> button, and open <b>Edit HTML/CSS</b>
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/shopify/theme.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            3) Place your Website Tag
          </h4>
          <hr>
          <p class="larger-font">
            Select the "theme.liquid" file in the theme editor sidebar and scroll all the way to the bottom.
          </p>
          <p class="larger-font">
            Make a new line right above the closing <b style="color: #006600">&lt;/body&gt;</b> tag. Paste your
            website tag here.
          </p>
          <p class="larger-font">
            Your website tag should create a long line. Check that it begins with <b style="color:
              #006600">&lt;script&gt;</b> and ends with <b style="color:
              #006600">&lt;/script&gt;</b>.
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/shopify/theme-tag-placement.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            4) Verify your Website Tag
          </h4>
          <hr>
          <p class="larger-font">
            After you've saved your Shopify theme, return to the website page in your Ads Boomerang dashboard. Directly beneath your Website Tag, you should see a verification button. The Button should take you to your store's homepage. If you see an alert, your tag
            is set up correctly.
          </p>
          <p><i>
            If your verification link does not take you to your Shopify store, please update your website's domain
            name in your website's settings. If your setup still does not verify, please <a
          href="mailto:hello@adsboomerang.com?subject=Shopify Tag issue">Contact Us</a>.</i>
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/shopify/verification-link.jpg", class: "img-responsive" %>
          <br>
          <%= image_tag "guides/shopify/verification-popup.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-5">
          <h4>
            5) Place the Conversion Tag
          </h4>
          <span>(Not Required for <i>Shopify Premium</i> users)</span>
          <hr>
          <p class="larger-font">
            Last, navigate to <b>Settings / Checkout</b> in the Shopify dashboard, and scroll down to the <b>Additional
            scripts</b> box.
          </p>
          <p class="larger-font">
            Paste your Ads Boomerang website tag into text box, and save your changes. Your tag setup is
            now complete.
          </p>
        </div>
        <div class="col-sm-7">
          <%= image_tag "guides/shopify/conversion-tag-placement.jpg", class: "img-responsive" %>
        </div>
      </div>
      <br>

      <div class="row light-card">
        <div class="col-sm-12">
          <h4>
            Finished configuring your Website?
          </h4>
          <hr>
          <p class="larger-font">
            If you haven't finished configuring your website, return to your dashboard to complete the rest of the
            steps. The <%= link_to "Website setup guide", guides_setup_path(anchor: "website-configure") %> can help
            you.
          </p>
        </div>
      </div>

      <br><br>

    </div>
  </div>
</div>

<style>
    body {
      background: #efefef;
    }
    .light-card {
      background: #fff;
      padding: 5px;
      -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
      box-shadow: 0 0 10px 0 rgba(0,0,0,.10);

    }
    .larger-font {
      font-size: larger;
    }
</style>