<!--%= render "layouts/dashboard/checklist", advertiser: @advertiser %>-->

<div class="col-md-12">
  <div id="checklist" class="card">
    <div class="header">
      <h4 class="title">Onboarding Checklist</h4>
      <p class="category">Tasks to get your account set up</p>
    </div>
    <div class="content">
      <div class="table-full-width">
        <table class="table">
          <tbody>
            <% if advertiser.confirmed? %>
              <tr class="checklist-complete">
                <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                <td>Email Confirmed</td>
              </tr>
            <% else %>
              <tr>
                <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                <td><%= link_to "Resend Confirmation Email", new_advertiser_confirmation_path %></td>
              </tr>
            <% end %>

            <% if advertiser.websites.any? %>
              <tr class="checklist-complete">
                <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                <td>First Website Created</td>
              </tr>
            <% else %>
              <tr>
                <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                <td><%= link_to "Create your first website", new_website_path %></td>
              </tr>
            <% end %>

            <% if advertiser.websites.any? %>
              <% if advertiser.campaigns.any? %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Website Campaign Created</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                  <td><%= link_to "Create your first campaign", new_campaign_path %></td>
                </tr>
              <% end %>

              <% if advertiser.total_audience > 10 %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Website Tag Activated</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"><i class="fa fa-square-o"></i></label></td>
                  <td><%= link_to "Place your Website Tag on your site", website_path(advertiser.websites.first) %></td>
                </tr>
              <% end %>

              <% if advertiser.creatives.any? %>
                <tr class="checklist-complete">
                  <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                  <td>Ads Uploaded</td>
                </tr>
              <% else %>
                <tr>
                  <td><label class="checkbox"> <i class="fa fa-square-o"></i></label></td>
                  <% if advertiser.campaigns.any? %>
                    <td><%= link_to "Upload Creatives to your Campaign", campaign_path(advertiser.campaigns.last) %></td>
                  <% else %>
                    <td><%= link_to "Create a Campaign to upload Creatives", new_campaign_path %></td>
                  <% end  %>
                </tr>
              <% end %>
            <% end %>

            <% if advertiser.subscription && advertiser.subscription.active? %>
              <tr class="checklist-complete">
                <td><label class="checkbox"><i class="fa fa-check-square-o"></i></label></td>
                <td>Subscription Activated</td>
              </tr>
            <% else %>
              <tr>
                <td><label class="checkbox"> <i class="fa fa-square-o"></i></label></td>
                <td><%= link_to "Activate your Subscription", new_subscription_path %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>

      <div class="footer">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated at <%= Time.now.to_formatted_s(:long_ordinal) %>
        </div>
      </div>
    </div>
  </div>
</div>