<!-- render "layouts/dashboard/segments", subscription: @advertiser.subscription -->


<div class="col-md-8">
  <div class="card">
    <div class="header">
      <h4 class="title">Subscription Details</h4>
    </div>
    <div class="content">
      <div class="row">
        <% if subscription && subscription.plan %>
          <div class="col-sm-6">
            <b><%= subscription.plan.name %></b>
            <p>$<%= (subscription.plan.amount.to_money)/100.to_s %> / <%= subscription.plan.interval %></p>
            <p><i>Signed up on:</i> <%= subscription.plan.created_at.strftime("%b %d, %Y") %></p>
          </div>
        <% else %>
          <div class="col-sm-8">
            <p>You are not subscribed to a plan</p>
          </div>
          <div class="col-sm-4">
            <%= link_to "Choose Plan", new_subscription_path, class: "btn btn-primary" %>
          </div>
        <% end %>

        <% if subscription %>
          <div class="col-sm-6">
            <b>Payment Details</b>
            <p class="category">Details about your payment history</p>

            <p>Subscription Status: <%= subscription.state %></p>

            <p>Card: <%= subscription.card_type %> **** **** **** <%= subscription.card_last4 %></p>

            <% if subscription.sales.any? %>
              <%= render "layouts/dashboard/invoices", invoices: subscription.sales %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="footer">
        <hr>
        <div class="stats">
          <i class="fa fa-check"></i>
          Data up-to-date as of <%= Time.now.strftime("%l:%M %p") %>
        </div>
      </div>
    </div>
  </div>
</div>
