<i>advertisers/show</i>

<h4>this is the advertisers/show page</h4>
<p>This should be the homepage for an advertiser (regular user)</p>

<hr>
<h4>Email:</h4><%= @advertiser.email %>
<h4>Signed up at:</h4><%= @advertiser.created_at %>
<hr>
<h4>Campaigns</h4>
<% if @advertiser.campaigns.any? %>
    <% @advertiser.campaigns.each do |campaign| %>
        <%= link_to campaign.name, campaign_path(campaign)  %>
    <% end %>
<% else %>
    <p>No Campaigns!</p>
<% end %>
<%= link_to "Create a new Campaign", new_campaign_path %>
<hr>

<h4>Creatives</h4>
<% if @advertiser.creatives.any? %>
    <% @advertiser.creatives.each do |creative| %>
        <%= link_to creative.name, creative_path(creative)  %>
    <% end %>
<% else %>
    <p>No Creatives!</p>
<% end %>
<%= link_to "Upload a new Creative", new_creative_path %>

<hr>
<%= link_to 'Edit', edit_advertiser_path %>

