<%= stylesheet_link_tag "pages/partials/drop_template" %>

<div class="chrome-window">
  <div class="row">
    <div class="col-sm-8">
      <%= image_tag "728x90.png", class: "text-center ad-728" %>
      <br>
      <div class="col-sm-3 hidden-xs">
        <%= image_tag "fox_160x600.png", class: "ad-160" %>
      </div>

      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-6">
            <p>Ads Boomerang takes the complexity out of managing ads. Our drag-and-drop dashboard
              accepts the most popular online formats easily.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "300x250.png", class: "ad-300" %>
          </div>
        </div>

        <h4>Supported Sizes</h4>
        <p>
          All plans include the most important online ad sizes:
        </p>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><span class="fa fa-check text-success"></span>Skyscraper (160x600)</li>
              <li><span class="fa fa-check text-success"></span>Medium Rectangle (300x250)</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><span class="fa fa-check text-success"></span>Leaderboard (728x90)</li>
              <li><span class="fa fa-check text-success"></span>Wide Skyscraper (300x600)</li>
            </ul>
          </div>
        </div>

        <h4>Don't have any ads?</h4>
        <p>Send us your brand assets, and we can create a set for you.</p>

      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <%= image_tag "300x600.png", class: "ad-600" %>
    </div>
  </div>
  <hr>
  <p class="text-center visible-xs visible-sm">
    <i>*Some of the sample ads in this frame have been scaled down to fit your screen</i>
  </p>
</div>




<script>
$(function() {

  $('#dropzone').on('dragover', function(e,f) {
    $(this).addClass('hover');
  });

  $('#dropzone').on('dragleave', function() {
    $(this).removeClass('hover');
  });

  $('#dropzone input').on('change', function() {
    var file = this.files[0];
    var _URL = window.URL || window.webkitURL;
    $('#dropzone').removeClass('hover');
    if (this.accept && $.inArray(file.type, this.accept.split(/, ?/)) == -1) {
      // return alert('File type not allowed.');
    }
    $('#dropzone').addClass('dropped');
    $('#dropzone img').remove();

    if ((/^image\/(gif|png|jpg|jpeg)$/i).test(file.type)) {
      var img = new Image();
      img.src = _URL.createObjectURL(file);

      img.onload = function() {
          var width = this.width;
          var height =  this.height;

          var reader = new FileReader(file);
          reader.readAsDataURL(file);
          reader.onload = function(e) {
            var data = e.target.result;
            var $img = $('<img />').attr('src', data).fadeIn();
            $('#drop-target').html($img);
          };
      };
      // img.onerror = function() {
      //     alert( "not a valid file: " + file.type);
      // };
    } else {
      var ext = file.name.split('.').pop();
      $('#dropzone div').html(ext);
    }
  });
});
</script>
