<!-- sign-in and register modals -->
<%= render "pages/partials/sign_in_modal" %>
<%= render "pages/partials/sign_up_modal" %>
<header class="header">
  <div role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand scroll-to" do %>
          <%= image_tag "pages/logo.png", alt: "logo" %>
          <!--%= image_tag "pages/logo-small.png", alt:"logo", class:"visible-xs visible-sm" %>-->
          <span class="sr-only">Go to homepage</span>
        <% end %>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">
            Menu<i class="glyphicon glyphicon-menu-hamburger"></i>
          </button>
        </div>
      </div>
      <div id="navigation" class="collapse navbar-collapse navbar-right">
        <% if controller_name == "registrations" || controller_name == "sessions" || controller_name == "pages" && params[:id] == "faq" %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Pricing", root_path(anchor: "pricing"), class: "scroll-to" %></li>
            <li><%= link_to "Guides", guides_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>

            <!-- TODO - this makes it align (almost) with pages that have sign-in and sign-up buttons -->
            <li><a href=""></a></li><li><a href=""></a></li><li><a href=""></a></li><li><a href=""></a></li>
            <li><a href=""></a></li><li><a href=""></a></li><li><a href=""></a></li><li><a href=""></a></li>


          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><a href="#pricing" class="scroll-to">Pricing </a></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Guides", guides_path %></li>
            <li><a style="border: 0"></a></li>
            <li>
              <a href="#" data-toggle="modal" data-target="#sign-in" class="signin">
                Sign In <i class="glyphicon glyphicon-lock"></i>
              </a>
            </li>
          </ul>
          <a class="btn btn-primary topright-button" data-toggle="modal"
             data-target="#sign-up">Sign up for Free</a>
        <% end %>
      </div>
    </div>
  </div>
</header>

<style>
  .navbar {
    background: #71bc37;
  }
  .topright-button {
    margin-top: 20px;
    margin-right: 0;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .navbar a:focus {
    outline: none;
  }
</style>