<!--%= render "creatives/index", campaign: @campaign %>-->

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="header">
            <h4 class="title">Campaign Ads</h4>
            <p class="category">All ads (creatives) attached to this campaign</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th></th>
                <th>Name</th>
                <th>Created At</th>
                <th>Size (width x height)</th>
                <th></th>
              </thead>
              <tbody>
              <% @campaign.creatives.each do |creative| %>
                <tr>
                  <td>
                    <%= image_tag creative.creative_asset.mounted_asset.url,
                                    class: "image-responsive",
                                    style: "max-width:#{creative.creative_asset.width / 2}px" %>
                  </td>
                  <td><%= link_to creative.name, creative_asset_path(creative.creative_asset_id) %></td>
                  <td><%= creative.created_at.to_formatted_s(:long) %></td>
                  <td><%= creative.width %>x<%= creative.height %></td>
                  <td>
                    <!--%= link_to 'Edit', edit_creative_asset_path(creative.creative_asset) %>-->
                    <!--|-->
                    <%= link_to 'Remove from Campaign', campaign_creative_path(campaign_id: @campaign.id, id: creative.id), method: :delete, remote: true,
                                data: {  confirm: 'Are you sure?' }, class: "remove-creative" %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <%= render "creative_assets/form", creative_asset: CreativeAsset.new, campaign: @campaign %>
        </div>

      </div>
    </div>
  </div>
</div>
