<div class="col-sm-8 col-sm-offset-2">
  <h4><%= @creative.name %></h4>

  <%= @creative.inspect %>

  <%= image_tag @creative.creative_asset.url, class: "image-responsive" %>
  <hr>
  <%= link_to 'Edit', edit_creative_path(@creative) %> |
  <%= link_to 'Back', creatives_path %>

</div>
