<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title"><%= @campaign.name %></h4>
      <p class="category">All info about the campaign</p>
      <%= link_to 'Edit', edit_campaign_path(@campaign) %>
    </div>
    <div class="content">

      name: <%= @campaign.name %>
      <br>
      start_dat: <%= @campaign.start_date.to_formatted_s(:rfc822) %>
      <br>
      <% if @campaign.end_date %>
        end_dat: <%= @campaign.end_date.to_formatted_s(:rfc822) %>
      <% else %>
        No End date Scheduled
      <% end %>
      <br>
      <%= link_to 'Edit', edit_campaign_path(@campaign) %>
      |
      <%= link_to 'Destroy', @campaign, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
  </div>
</div>

<%= render "layouts/dashboard/segments", campaign: @campaign %>



