<!doctype html>
<html>
  <head>
    <title>Ads Boomerang</title>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= render "layouts/tag_manager" %>
      <%= javascript_include_tag 'rollbar' %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <%= render "layouts/favicon" %>
  </head>
  <body>
    <%= render "layouts/alerts" %>
    <%= render "layouts/onboarding" %>

    <div class="wrapper">
      <%= render "layouts/dashboard/sidebar" %>

      <div class="main-panel">
        <%= render "layouts/dashboard/navbar" %>

        <div class="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>

        <%= render "layouts/dashboard/footer" %>

        <% if Rails.env.development? %>
          <%= console %>
        <% end %>

      </div>
    </div>

    <%= render "layouts/dashboard/ad_size_guide" %>

  </body>
</html>