<!DOCTYPE html>
<html>
  <head>
    <title>AdsDash</title>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= javascript_include_tag 'rollbar' %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "layouts/alerts" %>

    <div class="nav navbar-nav">
      <% if advertiser_signed_in? %>
        <%= link_to('Logout', destroy_advertiser_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Login', new_advertiser_session_path)  %>
      <% end %>
      |
      <% if advertiser_signed_in? %>
        <%= link_to('Edit registration', edit_advertiser_registration_path) %>
      <% else %>
        <%= link_to('Register', new_advertiser_registration_path)  %>
      <% end %>
      |
      <b class="text-center"><%= controller_name %>#<%= action_name %></b>
      |
      <% if advertiser_signed_in? %>
        <%= link_to current_advertiser.email, edit_advertiser_registration_path %>
      <% end %>
    </div>


   <div class="col-xs-12">
     <div class="row">
       <%= yield %>
     </div>
   </div>

   <% if Rails.env.development? %>
      <%= console %>
   <% end %>

  </body>
</html>
