<!DOCTYPE html>
<html>
  <head>
    <title>AdsDash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>


   <div class="col-xs-12">
     <div class="row">
       <%= yield %>
     </div>
   </div>

   <% if Rails.env.development? %>
      <%= console %>
   <% end %>

  </body>
</html>
